<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Rover Control Interface</title>
</head>
<body>
    <h1>Welcome to this amazing rover</h1>
    <h2>Live Camera Feed</h2>
    <img src="/video_feed" width="640" height="480" />

    <div style="width:max-content; height:max-content; background-color: aliceblue; align-items: center; padding: 10px; display: flex; gap: 10px;">
        <button id="first-button" type="button">forward</button>
        <button id="second-button" type="button">backward</button>
        <button id="third-button" type="button">left</button>
        <button id="fourth-button" type="button">right</button>
        <button id="fifth-button" type="button">high</button>
        <button id="sixth-button" type="button">low</button>
        <button id="seventh-button" type="button">medium</button>
        <button id="stop" type="button">stop</button>
    </div>

    <script>
     
        function sendCommand(command) {
            fetch('/motor', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({command: command})
            })
            .then(response => response.json())
            .then(data => alert(data.status))
            .catch(error => console.error('Error:', error));
        }

       
        document.getElementById("first-button").addEventListener('click', () => sendCommand('forward'));
        document.getElementById("second-button").addEventListener('click', () => sendCommand('backward'));
        document.getElementById("third-button").addEventListener('click', () => sendCommand('left'));
        document.getElementById("fourth-button").addEventListener('click', () => sendCommand('right'));
        document.getElementById("fifth-button").addEventListener('click', () => sendCommand('high'));
        document.getElementById("sixth-button").addEventListener('click', () => sendCommand('low'));
        document.getElementById("seventh-button").addEventListener('click', () => sendCommand('medium'));
        document.getElementById("stop").addEventListener('click', () => sendCommand('stop'));
    </script>
</body>
</html>
